@charset "utf-8";
@import url("../webfont/stylesheet.css");

/* CSS Document */
*{scroll-behavior: smooth}
.container {padding-inline: 20px;}
.text-black {color:black !important;}
a.text-black:hover,a.text-black:focus {color: #0056b3 !important;}
.text-white {color: white !important;}
a.text-white:hover, a.text-white:focus {color: #0056b3 !important;}
.text-light{color:#E2E2E2 !important;}
a.text-light:hover, a.text-light:focus {color: white !important;}
.bg-black{background-color: black !important;}
a.bg-black:hover,a.bg-black:focus,button.bg-black:hover,button.bg-black:focus{background-color: black !important;}
.bg-dark {background-color:#121212 !important;}
a.bg-dark:hover,a.bg-dark:focus,button.bg-dark:hover,button.bg-dark:focus
{background-color:#121212 !important;}
.navbar-dark .navbar-brand {color: white;}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {color: #0056b3;}
.navbar-dark .navbar-nav .nav-link {color: white}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {color: #0056b3;}
.btn {display: inline-block;text-align: center;vertical-align: middle;cursor: pointer;
background-color: white; color:black; padding: 0.375rem 0.75rem; border-radius: 10px;
transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out}
.btn:hover {background-color: #0056b3; color: white; text-decoration: none}
.btn-primary {color: black; background-color: white;}
.btn-primary:hover {color:white; background-color:#0056b3;}
a.btn-primary{color: black} 
a.btn-primary:hover{color: white}
.btn-secondary {color: white; background-color: transparent; border: 2px solid #0056b3}
.btn-secondary:hover {color:white; background-color: none; }
a.btn-secondary{color: white} 
a.btn-secondary:hover{color: white}
#introduce-yourself{padding-top: 60px;padding-bottom: 60px;background-color:black;}
#introduce-yourself .container {display: flex;flex-direction: column}
#introduce-yourself img{width: 100%; height: auto;justify-content: center;object-fit: cover;}
.text-primary{color: #0056b3}
#welcome{text-align: left}
#welcome .bg-img{
background-image: url( "../images/bg chao mung.jpg");
background-size: cover;background-position: center;background-repeat: no-repeat;
height:auto; width: 100%;margin: 0;}
#my-services i.fa{font-size: 70px;}
#my-services .card{background: none; color: #0056b3; border-radius: 20px; height: 100%;
border: 4px solid #0056b3; box-shadow: 5px 5px 5px rgba(72, 106, 204, 0.7);}
#my-services .card:hover, card-body:hover{background: #0056b3; color: white; box-shadow: none}
.image-frame{width:auto; height: 350px;overflow: hidden;}
.image-frame img{width: 100%;height: 100%;object-fit: cover;}
.tab-content > .tab-pane {display: none;}
.tab-content > .active {display: block;}
#my-project .tab-pane .fade a> img:hover{}


